@import "tailwindcss";
@plugin "daisyui" {
  themes: bumblebee --default, forest --prefersdark;
}

/* Apply Nunito font to body */
body {
  font-family: "Nunito", sans-serif;
}

/* Ensure swap animation works correctly */
.swap > * {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, opacity;
}
